@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

.header {
  &__link {
    text-align: center;
    padding: 0.7rem 0rem;
    background-color: var(--background);
    text-decoration: none;
    @include subscribe;
  }
  &__nav {
    &-link {
      margin: 2.4rem 0rem;
    }
  }
  &__content {
    margin: 0 auto;
    background-color: var(--background-light);
    padding: 0.8rem;
  }
  &__list {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 92rem;
    width: 100%;
    &-item {
      display: flex;
      gap: 0.8rem;
      align-items: center;
    }
    &-text {
      @include fast;
    }
  }
}
